<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Table Comparison Suite" verbose="1">
    <test name="Customer Tables Comparison">
        <classes>
            <class name="com.example.tablecompare.TableComparisonTest"/>
        </classes>
    </test>
</suite>
